// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/css/all.css";

// IN views/layouts/app.blade.php
#logo{
    width: 40px;
}
#profile-img-in-nav{
    width: 40px;
    border-radius: 50%;
}

#profile-img{
    width: 600px !important;
}
.h-60{
   height: 60px;
}
