// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/css/all.css";

// Slick Carousel
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

// IN views/layouts/app.blade.php
#logo {
    width: 40px;
}

#profile-img-in-nav {
    width: 40px;
    border-radius: 50%;
}

#profile-img {
    width: 600px !important;
}

.h-60 {
    height: 60px;
}

// Post in New Feed
.post {
    .post-profile-img {
        display: block;
        max-width: 70px;
        max-height: 70px;
        width: auto;
        height: auto;
        border-radius: 50%;
    }

    .post-carousel {
        img {
            max-height: 400px;
        }
    }
}

// Toast for error message
.postIdToast {
    position: fixed;
    bottom: 2vw;
    right: 2vw;

    img {
        width: 100%;
    }
}
